<div class="lg:fixed top-0 w-full bg-white z-20 shadow-md">
  <nav
    class="flex items-center justify-center lg:justify-between flex-wrap p-4 px-4 mx-auto bg-white"
    x-data="{ isOpen: false, isDropdownOpen: false }"
    @keydown.escape="isOpen = false; isDropdownOpen = false"
    @click.away="isOpen = false; isDropdownOpen = false"
  >
    <!-- Logo and Phone Number -->
    <div class="flex items-center space-x-4">
      <!-- Logo -->
      <a href="/">
        <img
          src="../../static/img/logos/schaefer-auto.png"
          alt="Schaefer Auto"
          class="h-16 lg:h-20"
        />
      </a>
      <!-- Phone Number -->
      <div class="lg:block">
        <p class="text-md text-gray-700">
          Contact Us:
          <a href="tel:9205399846" class="hover:text-[#1E6CB0] font-bold">
            (920) 539-9846
          </a>
        </p>
      </div>
    </div>

    <!-- Toggle button (hidden on large screens) -->
    <button
      @click="isOpen = !isOpen"
      type="button"
      class="ml-auto block lg:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500"
      :class="{ 'transition transform-180': isOpen }"
      aria-label="Menu"
    >
      <svg
        class="h-6 w-6 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 24 24"
      >
        <path
          x-show="isOpen"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
        />
        <path
          x-show="!isOpen"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2z"
        />
      </svg>
    </button>

    <!-- Menu -->
    <div
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-center"
      :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
      x-show.transition="true"
    >
      {% if navigation.items %}
      <ul
        class="pt-4 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center"
      >
        {% for item in navigation.items %}
        <li class="nav__item mr-2 relative">
          {% if loop.index == 2 %}
      <!-- Dropdown Menu for Second Item -->
<div
@mouseover="isDropdownOpen = true"
@mouseleave="isDropdownOpen = false"
class="relative"
>
<a
  class="text-ml inline-block no-underline py-2 px-4 hover:text-[#1E6CB0] {% if item.url == current_url %}text-[#1E6CB0] font-bold{% else %}text-gray-500{% endif %}"
  href="{{ item.url }}"
>
  {{ item.text }} &#x25BE;
</a>
<ul
  x-show="isDropdownOpen"
  class="lg:absolute lg:left-0 lg:top-full left-0  w-full bg-white shadow-lg rounded-lg lg:block hidden"
  :class="{ 'block': isDropdownOpen, 'hidden': !isDropdownOpen }"
>
<li>
  <a
    href="/vehicles"
    class="block px-4 py-3 text-sm text-gray-700 hover:text-[#1E6CB0] border-b-2 border-gray-50"
  >
    Current Vehicles
  </a>
</li>
  <li>
    <a
      href="/vehicles/coming-soon"
      class="block px-4 py-3 text-sm text-gray-700 hover:text-[#1E6CB0]"
    >
      Coming Soon
    </a>
  </li>
</ul>
</div>


          {% elif loop.last %}
          <!-- Last item as a button -->
          <a
            @click="isOpen = false"
            class="inline-block bg-[#1E6CB0] text-white font-bold py-3 px-6 rounded-lg hover:bg-[#155789]"
            href="{{ item.url }}"
          >
            {{ item.text }}
          </a>
          {% else %}
          <a
            @click="isOpen = false"
            class="text-ml inline-block no-underline py-2 px-4 hover:text-[#1E6CB0] {% if item.url == current_url %}text-[#1E6CB0] font-bold{% else %}text-gray-500{% endif %}"
            href="{{ item.url }}"
          >
            {{ item.text }}
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </nav>
</div>
